/.idea/.idea.Medium.Attributes/.idea/codeStyles/codeStyleConfig.xml
/.idea/.idea.Medium.Attributes/.idea/encodings.xml
/.idea/.idea.Medium.Attributes/.idea/indexLayout.xml
/.idea/.idea.Medium.Attributes/.idea/misc.xml
/.idea/.idea.Medium.Attributes/.idea/vcs.xml
/.idea/.idea.Medium.Attributes/riderModule.iml
